{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">TODO APP</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="{{ path('home') }}">Dashboard </a></li>
                                <li><a href="{{ path('home') }}">Login </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">Start Now</h1>
                    <p class="lead"> Next Generation TODO App<p class="lead">
                       <button> <a href="{{ path('home') }}" class="btn btn-lg btn-default">LOGIN</a></button>
                    </p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>By Hadramet Sylla</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}
