{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <hr>
                    {% if app.user %}
                        <div class="alert alert-dismissible alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <h4 class="alert-heading">Warning!</h4>
                            <p class="mb-0">You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a></p>
                        </div>
                        <hr>
                    {% endif %}


                    <form method="post">
                        {% if error %}
                            <div class="alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Oh snap!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="inputEmail">Email address</label>
                            <input type="email" value="{{ last_username }}" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" required autofocus>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                        </div>
                        {#
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="_remember_me">
                            <input type="checkbox" name="_remember_me"> Remember me</label>
                        </div> #}

                        <button type="submit" class="btn btn-primary">Submit</button>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </form>
                    <hr>
                    <p class="text-muted"> If you're new here, create an account <a href="{{ path('app_register') }}">here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
