{% extends 'default/base2.html.twig' %}

{% block content %}

<div class="example-wrapper">
    <h1>{{ app.user.username }} </h1>
</div>
    <div class="container">
        <br/>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm" action="{{ path('add_friend')}}" name="addfriend" method="post" id="delete">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" name="email" type="search" placeholder="set user email address">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Add Friends</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>
        <br>
        <p> Friends list : </p>
        {% if (friends | length) > 0 %}
            {% for friend in friends  %}
                {{ friend.username}} <br>
            {% endfor %}
        {% else %}
            <small> 0 </small>
        {% endif %}
    </div>


{% endblock %}
