{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {% include 'Components/NavigationBar.html.twig' %}
<hr>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="darkSwitch">
                <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
            </div>
            <h2>Assigned Tasks</h2>
            <ul class="list-group">
                {%  if app.user.boardItems |length == 0 %}
                    <div class="alert alert-danger"> Nothing to show </div>
                {% endif %}
                {% for key in app.user.boardItems  %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ key.name }}
                        {%  if key.state == "TODO" %}
                            <span class="badge badge-danger">TODO</span>
                        {% endif %}
                        {%  if key.state == "DONE" %}
                            <span class="badge badge-success">DONE</span>
                        {% endif %}
                        {%  if key.state == "INPROGRESS" %}
                            <span class="badge badge-warning">INPROGRESS</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% block content %}

        {% endblock%}

{% endblock %}