{% extends 'default/base2.html.twig' %}
{% block content %}
    <div class="col-sm-8 text-left">
        <div class="page-header">
            <h1>Board <small> This is your tasks boards</small></h1>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">New Board <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
                </svg></button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">New Board</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_row(form.title) }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="list-group">
            {%  if boards| length == 0 %}
                <div class="alert alert-danger"> Nothing to show </div>
            {% endif %}
            {% for key in boards %}
                <div> {{ include('Components/BoardsCards.html.twig') }} </div> </br>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-2 sidenav">
        <h2>Todo</h2>
        <ul class="list-group">
            {%  if items|length == 0 %}
                <div class="alert alert-danger"> Nothing to show </div>
            {% endif %}
            {% for key in items  %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ key.name }}
                    {%  if key.state == "TODO" %}
                        <span class="badge badge-danger">TODO</span>
                    {% endif %}
                    {%  if key.state == "DONE" %}
                        <span class="badge badge-success">DONE</span>
                    {% endif %}
                    {%  if key.state == "INPROGRESS" %}
                        <span class="badge badge-warning">INPROGRESS</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    </div>
    <footer class="mt-auto">
        <p>&copy; Supinfo 2019</p>
    </footer>

{% endblock%}
