{% extends 'default/index.html.twig' %}

{% block content %}
    <div class="col-sm-8 text-left">
        <div class="page-header">
            {% if  error != null %}
                <div class="alert alert-danger" role="alert">
                    <a href="#" class="alert-link">{{error}}</a>
                </div>

            {% else %}
                <h1>{{ board_name }}  <small> This is your board view</small></h1>
                <div class="row">
                    <div class="col-sm">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">New Tasks</button> <br>
                    </div>
                    <div class="col col-lg-2">
                        {% if (items | length) > 0 %}
                            <form action="{{ path('delete_all_items',{'id': board_id}) }}" method="post" id="delete">
                                <button type="submit" class="btn btn-danger" >Drop All</button>
                            </form>
                        {% endif %}
                    </div>
                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">New Board</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                {{ form_start(form) }}
                                <div class="form-group">
                                    {{ form_row(form.name) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.due_date) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.description) }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    {{ form_row(form.save) }}
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {%   if (items | length) > 0 %}
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">State</th>
                                <th scope="col">duedate</th>
                                <th scope="col">assigne_to</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{item.name}}</td>
                                    <td>{{item.state}}
                                        <div class="dropdown">
                                            <form method="post" id="delete">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Change State
                                                </button>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="{{ path('change_item_state',{'id': item.id,'state': 'TODO'}) }}">TODO</a>
                                                    <a class="dropdown-item" href="{{ path('change_item_state',{'id': item.id,'state': 'INPROGRESS'}) }}">INPROGRESS</a>
                                                    <a class="dropdown-item" href="{{ path('change_item_state',{'id': item.id,'state': 'DONE'}) }}">DONE</a>
                                                </div>
                                            </form>
                                        </div>
                                    </td>
                                    <td>{{ item.duedate | date('Y-m-d') }}</td>
                                    <td>{% for user in item.assigneto %} {{ user.username }} <br> {% endfor %}
                                        <div class="dropdown">
                                            <form method="post" id="delete">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Assigned to
                                                </button>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    {% for friend in app.user.friends %}
                                                        <a class="dropdown-item" href="{{ path('assigne_to',{'id':item.id,'user_id':friend.id}) }}">{{ friend.username }}</a>
                                                    {% endfor %}
                                                </div>
                                            </form>
                                        </div>
                                    </td>
                                    <td><!-- Call to action buttons -->
                                        <ul class="list-inline m-0">
                                            <li class="list-inline-item">
                                                <form action="{{ path('delete_items',{'id': item.id}) }}" method="post" id="delete">
                                                    <button name="delete"  class="btn btn-danger"><svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                                                            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                                        </svg>Delete</button>
                                                </form>
                                            </li>
                                        </ul>
                                        <div id="upload-progress"><div class="progress-bar"></div></div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                {% else %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Warning!</strong> Add new task!
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}