<a href="{{ path('boards_view',{'id': key.id}) }}" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
        <div class="col-md-auto">
            <h5 class="mb-1">{{ key.title }}</h5>
        </div>
        <div class="col-md-auto">
            <span class="badge badge-secondary">{{key.creationDate | date('Y-m-d') }}</span>
        </div>
        <div class="col-md-auto">
            <button type="button" class="btn btn-primary">
                Nb Tasks <span class="badge badge-light">{{ key.boardItems | length }}</span>
            </button>
        </div>
        <div class="col-md-auto">

            <form action="{{ path('delete_board',{'id': key.id}) }}" method="post" id="delete">
                <button name="delete"  class="btn btn-danger"><svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                    </svg>Delete</button>
            </form>
        </div>
    </div>

</a>