
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('home') }}">Todo App</a>
        </div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="{{path('friends')}}">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tasks</a>
            </li>
            {% if app.user %}
            <li class="nav-item"><a class="nav-link" href="#">{{ app.user.username }}</a></li>
        </ul>


            <ul class="nav justify-content-end">
                <li class="nav-item"><a href="{{ path('app_logout') }}" class="navbar-link">Logout</a></li>

            </ul>
        {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
